.root {
    composes: root from './pageSizeSelection.module.css';
}

.sortButtonShimmer {
    composes: root_button from '@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';
    composes: sortButton from './pageSizeSelection.module.css';

    composes: lg_min-w-[12rem] from global;
}