.root {
    composes: flex from global;
    composes: flex-col from global;
    composes: content-start from global;
    composes: gap-y-2xs from global;
}
.actionsContainer {
    composes: gap-x-xs from global;
    composes: grid from global;
    composes: pl-2xs from global;
    grid-template-columns: auto 20px 20px;
    margin-top: auto;
}

.imageContainer {
    grid-area: main;
    composes: ml-[1px] from global;
}

.name {
    composes: h-8 from global;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.finalPrice {
    composes: text-[14px] from global;
    composes: mb-4 from global;
}

.simplePrice {
    composes: text-[14px] from global;
    composes: mb-4 from global;
}

.boldPrice {
    composes: font-bold from global;
    composes: ml-1 from global;
    font-family: "franklin-gothic-urw", sans-serif;
}

.regularPrice {
    composes: text-[14px] from global;
    composes: line-through from global;
}

.invisiblePrice {
    composes: text-[14px] from global;
    composes: line-through from global;
    composes: invisible from global;
}

.finalPricePdp {
    composes: mb-2 from global;
}

.regularPricePdp {
    composes: line-through from global;
}

.invisiblePricePdp {
    composes: d-none from global;
}

.labelWrapper {
    composes: absolute from global;
    composes: bg-[#ffca04] from global;
    composes: top-[72px] from global;
    composes: left-0 from global;
    composes: uppercase from global;
    composes: w-full from global;
    composes: text-[12px] from global;
    composes: text-center from global;
    composes: text-sm from global;
    composes: text-black from global;
    composes: leading-4 from global;
    composes: z-10 from global;
    composes: p-1 from global;
}

.labelWrapperPlp {
    composes: !top-[32px] from global;
}

.labelWrapperPdpProductCarousel {
    composes: !top-[40px] from global;
}

.badgeContent {
    composes: color-[#005ea7] from global;
    composes: text-[12px] from global;
    composes: text-[#005ea7] from global;
    composes: mt-4 from global;
    composes: font-normal from global;
}

.badgeContentPlp {
    composes: font-bold from global;
}

@media (max-width: 959px) {
    .finalPrice {
        margin-top: 8px;
    }
    .regularPrice {
        margin-bottom: 8px;
    }
    .starIcons {
        margin-top: 8px;
    }
    .labelWrapper {
        top: 68px;
    }
    .labelWrapperPlp {
        top: 20px !important;
    }
}