$black: #000;
$white: #fff;
$gray: #eee;
$primary-dark: #23100A;
$primary-900: #0E0703;
$secondary-dark: #4A3D39;
$tertiary-dark: #333333;
$primary-light: #917B70;
$primary-light-yellow: #F9F7F0;
$primary-brownell: #472311;
$primary-brownell-red-600: #591B04;
$primary-brownell-red: #933311;
$secondary-brownell-red: #953213;
$primary-brownell-red-400: #B26F57;
$primary-brownell-red-300: #C99987;
$primary-brownell-red-200: #DFC2B9;
$primary-brownell-red-100: #F8F2F0;
$brownell-green-500: #767A4C;
$brownell-green-900: #343620;
$brownell-tan-600: #CEBD8D;
$brownell-tan: #E2D6B5;
$brownell-tan-400: #E8DEC4;
$brownell-tan-300: #EDE6D4;
$brownell-tan-200: #F3F0E2;
$brownell-tan-100: #FAF7F0;
$brownell-yellow-100: #FEFCEC;
$brownell-yellow-200: #FDF6C9;
$brownell-yellow-300: #FCF0A6;
$brownell-yellow-400: #FBEB83;
$brownell-yellow-500: #F9E24C;
$brownell-yellow-600: #FFCB12;
$primary-brownell-yellow: $brownell-yellow-500;
$secondary-brownell-yellow: #FAD907;
$system-error-100: #FFEFEC;
$system-error-500: #D72209;
$primary-error: $system-error-500;
$accent-gray: #F6F3E9;
$background-header: $accent-gray;
$primary-warning: #FFC013;
$system-warning-100: #FFF7DD;
$system-warning-500: $primary-warning;
$primary-success: #1EA06A;
$system-success-50: #60C371;
$system-success-100: #DBFFE3;
$system-success-500: $primary-success;
$system-success-600: #098752;
$system-proccess-500: #0A79B8;
$primary-border-color: #E4DEDB;
$footer-primary-dark: #2D1910;
$footer-secondary-dark: $brownell-green-900;
$neutral: #EDE6D4;
$neutral-100: #E9E6E5;
$neutral-200: #D0CFCF;
$neutral-300: #B8B7B6;
$neutral-500: #898886;
$neutral-700: #655854;
$neutral-800: #4A3D39;
$neutral-900: #23100A;
$light-brown: #FEFDFC;
$light-yellow: #F9F7F0;
$light-gray: #F7F7F7;
$brownell-tan-500: #E2D6B5;
$brownell-tan-600: #CEBD8D;
$primary-gray: $neutral-700;
$secondary-gray: #898886;
$primary-50: #F7F4F3;
$primary-100: #E4DEDB;
$primary-200: #B5A7A0;
$primary-300: #917B70;
$box-shadow: #D7CAA7;
$border-color: $neutral-100;
$separator-review-filter: #DFD7A5;
$gradient-color-first: #220D02;
$gradient-color-second: #592104;
$border-btn-quantity: #C4C4C4;
$border-ffl-view-more: #F4F1F0;

$border-order-inprocess: #ECBC00;
$text-order-inprocess: #69550C;

$border-order-partial-shipped: #0079BD;
$background-order-partial-shipped: #B5EDFF;

$border-order-deleted: #933512;
$background-order-deleted: #FFEAE5;
$text-order-deleted: #933512;

$border-order-cancelled: #42526E;
$background-order-cancelled: #EBECF0;

$border-order-retunred: #CB6100;
$text-order-retunred: #CB6100;
$background-order-returned: #FFEBD3;
$background-banner-manufacturer-listing: #777C4F;
$color-shadow-contact-icon: #25130F;

$color-schematic-picture: #F4F4F4;
$color-schematic-picture-border: #808080;
$color-schematic-text: #f9c44c;

$briscoes-primary: #005EA7;