$font-size--extra-small: 1.1rem;
$font-size--medium-small: 1.2rem;
$font-size--small: 1.3rem;
$font-size--base: 1.4rem;
$font-size--normal: 1.6rem;
$font-size--medium: 1.8rem;
$font-size--large: 2rem;
$font-size--extra-large: 2.6rem;