//@include setZIndex($header)       => z-index: 30
//@include setZIndex($header, 1)    => z-index: 31
//@include setZIndex($header, -1)   => z-index: 29
$z-back-to-top: 10;
$z-sticky-bottom: $z-back-to-top - 1;
$z-header: 30;
$z-mega-menu: $z-header + 1;
$z-order-tracking-cart: $z-mega-menu + 1;

$z-tooltip: 999;

$z-loading: 888;

$z-select-listbox: $z-tooltip;

$z-mini-cart: 99;

$z-index-0: -1;

$z-index-1: 1;

$z-bring-to-front-range: 4