.pagebuilder-icon,
.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after {
    -webkit-font-smoothing: antialiased;
    font-family: 'pagebuilder-font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

[class^='pagebuilder-icon-']:before,
[class*=' pagebuilder-icon-']:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'pagebuilder-font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-decoration: inherit;
    text-rendering: auto;
    text-transform: none;
    vertical-align: middle;
}

.pagebuilder-icon-down:before {
    content: '\f101';
}

.pagebuilder-icon-next:before {
    content: '\f102';
}

.pagebuilder-icon-prev:before {
    content: '\f103';
}

.pagebuilder-icon-up:before {
    content: '\f104';
}

.pagebuilder-banner-wrapper {
    background-clip: padding-box;
    border-radius: inherit;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pagebuilder-banner-wrapper .pagebuilder-overlay {
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -webkit-transition: background-color 500ms ease;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    transition: background-color 500ms ease;
}

.pagebuilder-banner-wrapper .pagebuilder-overlay.pagebuilder-poster-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
}

.pagebuilder-banner-wrapper .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
    max-width: 540px;
}

.pagebuilder-banner-wrapper.jarallax .video-overlay {
    z-index: 0;
}

.pagebuilder-banner-wrapper [data-element='content'] {
    min-height: 50px;
    overflow: auto;
}

.pagebuilder-banner-wrapper .pagebuilder-banner-button {
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
    margin: 20px 0 0 0;
    max-width: 100%;
    text-align: inherit;
    transition: opacity 500ms ease;
    word-break: break-word;
}

.pagebuilder-banner-wrapper .pagebuilder-poster-content {
    width: 100%;
}

[data-appearance='collage-centered'] .pagebuilder-banner-wrapper .pagebuilder-overlay {
    margin-left: auto;
    margin-right: auto;
}

[data-appearance='collage-left'] .pagebuilder-banner-wrapper .pagebuilder-overlay {
    margin-right: auto;
}

[data-appearance='collage-right'] .pagebuilder-banner-wrapper .pagebuilder-overlay {
    margin-left: auto;
}

a.pagebuilder-button-link,
button.pagebuilder-button-link,
div.pagebuilder-button-link,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link,
.action-gift.pagebuilder-button-link {
    line-height: 2.2rem;
    font-size: 1.8rem;
    line-height: 1.42857143;
    margin: 0 10px 10px 0;
    padding: 14px 17px;
    color: #1979c3;
    text-decoration: none;
    background: none;
    border: 0;
    display: inline;
    font-weight: 600;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
}

a.pagebuilder-button-link:visited,
button.pagebuilder-button-link:visited,
div.pagebuilder-button-link:visited,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link:visited,
.action-gift.pagebuilder-button-link:visited {
    color: #1979c3;
    text-decoration: none;
}

a.pagebuilder-button-link:hover,
button.pagebuilder-button-link:hover,
div.pagebuilder-button-link:hover,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link:hover,
.action-gift.pagebuilder-button-link:hover {
    color: #006bb4;
    text-decoration: underline;
}

a.pagebuilder-button-link:active,
button.pagebuilder-button-link:active,
div.pagebuilder-button-link:active,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link:active,
.action-gift.pagebuilder-button-link:active {
    color: #ff5501;
    text-decoration: underline;
}

a.pagebuilder-button-link:hover,
button.pagebuilder-button-link:hover,
div.pagebuilder-button-link:hover,
a.pagebuilder-button-link:active,
button.pagebuilder-button-link:active,
div.pagebuilder-button-link:active,
a.pagebuilder-button-link:focus,
button.pagebuilder-button-link:focus,
div.pagebuilder-button-link:focus,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link:hover,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link:active,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link:focus,
.action-gift.pagebuilder-button-link:hover,
.action-gift.pagebuilder-button-link:active,
.action-gift.pagebuilder-button-link:focus {
    background: none;
    border: 0;
}

a.pagebuilder-button-link.disabled,
button.pagebuilder-button-link.disabled,
div.pagebuilder-button-link.disabled,
a.pagebuilder-button-link[disabled],
button.pagebuilder-button-link[disabled],
div.pagebuilder-button-link[disabled],
fieldset[disabled] a.pagebuilder-button-link,
fieldset[disabled] button.pagebuilder-button-link,
fieldset[disabled] div.pagebuilder-button-link,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link.disabled,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link[disabled],
fieldset[disabled] .cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-link,
.action-gift.pagebuilder-button-link.disabled,
.action-gift.pagebuilder-button-link[disabled],
fieldset[disabled] .action-gift.pagebuilder-button-link {
    color: #1979c3;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
}

a.pagebuilder-button-primary,
button.pagebuilder-button-primary,
div.pagebuilder-button-primary,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary,
.action-gift.pagebuilder-button-primary {
    text-decoration: none;
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 10px 10px 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
    border-radius: 3px;
    box-shadow: none;
}

a.pagebuilder-button-primary:hover,
button.pagebuilder-button-primary:hover,
div.pagebuilder-button-primary:hover,
a.pagebuilder-button-primary:active,
button.pagebuilder-button-primary:active,
div.pagebuilder-button-primary:active,
a.pagebuilder-button-primary:focus,
button.pagebuilder-button-primary:focus,
div.pagebuilder-button-primary:focus,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary:hover,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary:active,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary:focus,
.action-gift.pagebuilder-button-primary:hover,
.action-gift.pagebuilder-button-primary:active,
.action-gift.pagebuilder-button-primary:focus {
    text-decoration: none;
}

a.pagebuilder-button-primary:focus,
button.pagebuilder-button-primary:focus,
div.pagebuilder-button-primary:focus,
a.pagebuilder-button-primary:active,
button.pagebuilder-button-primary:active,
div.pagebuilder-button-primary:active,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary:focus,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary:active,
.action-gift.pagebuilder-button-primary:focus,
.action-gift.pagebuilder-button-primary:active {
    background: #006bb4;
    border: 1px solid #006bb4;
    color: #ffffff;
}

a.pagebuilder-button-primary:hover,
button.pagebuilder-button-primary:hover,
div.pagebuilder-button-primary:hover,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary:hover,
.action-gift.pagebuilder-button-primary:hover {
    background: #006bb4;
    border: 1px solid #006bb4;
    color: #ffffff;
}

a.pagebuilder-button-primary.disabled,
button.pagebuilder-button-primary.disabled,
div.pagebuilder-button-primary.disabled,
a.pagebuilder-button-primary[disabled],
button.pagebuilder-button-primary[disabled],
div.pagebuilder-button-primary[disabled],
fieldset[disabled] a.pagebuilder-button-primary,
fieldset[disabled] button.pagebuilder-button-primary,
fieldset[disabled] div.pagebuilder-button-primary,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary.disabled,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary[disabled],
fieldset[disabled] .cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-primary,
.action-gift.pagebuilder-button-primary.disabled,
.action-gift.pagebuilder-button-primary[disabled],
fieldset[disabled] .action-gift.pagebuilder-button-primary {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

a.pagebuilder-button-secondary,
button.pagebuilder-button-secondary,
div.pagebuilder-button-secondary,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary,
.action-gift.pagebuilder-button-secondary {
    text-decoration: none;
    background-image: none;
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 10px 10px 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
    border-radius: 3px;
    box-shadow: none;
}

a.pagebuilder-button-secondary:hover,
button.pagebuilder-button-secondary:hover,
div.pagebuilder-button-secondary:hover,
a.pagebuilder-button-secondary:active,
button.pagebuilder-button-secondary:active,
div.pagebuilder-button-secondary:active,
a.pagebuilder-button-secondary:focus,
button.pagebuilder-button-secondary:focus,
div.pagebuilder-button-secondary:focus,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary:hover,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary:active,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary:focus,
.action-gift.pagebuilder-button-secondary:hover,
.action-gift.pagebuilder-button-secondary:active,
.action-gift.pagebuilder-button-secondary:focus {
    text-decoration: none;
}

a.pagebuilder-button-secondary:focus,
button.pagebuilder-button-secondary:focus,
div.pagebuilder-button-secondary:focus,
a.pagebuilder-button-secondary:active,
button.pagebuilder-button-secondary:active,
div.pagebuilder-button-secondary:active,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary:focus,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary:active,
.action-gift.pagebuilder-button-secondary:focus,
.action-gift.pagebuilder-button-secondary:active {
    background: #e2e2e2;
    border: 1px solid #cdcdcd;
    color: #333333;
}

a.pagebuilder-button-secondary:hover,
button.pagebuilder-button-secondary:hover,
div.pagebuilder-button-secondary:hover,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary:hover,
.action-gift.pagebuilder-button-secondary:hover {
    background: #e2e2e2;
    border: 1px solid #cdcdcd;
    color: #555555;
}

a.pagebuilder-button-secondary.disabled,
button.pagebuilder-button-secondary.disabled,
div.pagebuilder-button-secondary.disabled,
a.pagebuilder-button-secondary[disabled],
button.pagebuilder-button-secondary[disabled],
div.pagebuilder-button-secondary[disabled],
fieldset[disabled] a.pagebuilder-button-secondary,
fieldset[disabled] button.pagebuilder-button-secondary,
fieldset[disabled] div.pagebuilder-button-secondary,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary.disabled,
.cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary[disabled],
fieldset[disabled] .cart.table-wrapper .actions-toolbar>.action.pagebuilder-button-secondary,
.action-gift.pagebuilder-button-secondary.disabled,
.action-gift.pagebuilder-button-secondary[disabled],
fieldset[disabled] .action-gift.pagebuilder-button-secondary {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.pagebuilder-column {
    box-sizing: border-box;
}

.pagebuilder-column .widget-product-grid .product-item {
    max-width: 100%;
    min-width: 50px;
}

.pagebuilder-column .widget-product-grid .product-item .price-box {
    word-wrap: break-word;
}

.pagebuilder-column .widget-product-grid .product-item .price-box .price {
    white-space: normal;
}

.pagebuilder-column .widget-product-grid .product-item .product-item-actions .actions-primary {
    display: inline-block;
    max-width: 100%;
}

.pagebuilder-column .widget-product-grid .product-item .product-item-actions .actions-secondary {
    display: inline-block;
    width: auto;
}

.pagebuilder-column .widget-product-grid .product-item .product-item-actions .tocart {
    max-width: 100%;
    white-space: normal;
}

.pagebuilder-column [data-content-type='products'] .block.widget .products-grid .widget-product-grid.product-items .product-item {
    width: 200px;
}

.pagebuilder-slide-wrapper {
    border-radius: inherit;
    box-sizing: border-box;
    min-height: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pagebuilder-slide-wrapper .jarallax-viewport-element {
    height: 100%;
    left: -15000vw;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 100;
}

.slick-current .pagebuilder-slide-wrapper .jarallax-viewport-element {
    left: 0;
}

.pagebuilder-slide-wrapper.jarallax .video-overlay {
    -webkit-transform: unset;
    z-index: 1;
}

.pagebuilder-slide-wrapper.jarallax .pagebuilder-overlay {
    position: relative;
    z-index: 2;
}

.pagebuilder-slide-wrapper.jarallax [id*='jarallax-container']>div,
.pagebuilder-slide-wrapper.jarallax [id*='jarallax-container']>img,
.pagebuilder-slide-wrapper.jarallax [id*='jarallax-container']>video,
.pagebuilder-slide-wrapper.jarallax [id*='jarallax-container']>iframe {
    margin: auto !important;
    transform: none !important;
}

.pagebuilder-slide-wrapper .pagebuilder-overlay {
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -webkit-transition: background-color 500ms ease;
    border-radius: inherit;
    box-sizing: border-box;
    padding: 30px;
    transition: background-color 500ms ease;
}

.pagebuilder-slide-wrapper .pagebuilder-overlay.pagebuilder-poster-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: inherit;
}

.pagebuilder-slide-wrapper .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
    max-width: 540px;
}

.pagebuilder-slide-wrapper [data-element='content'] {
    min-height: 50px;
    overflow: auto;
}

.pagebuilder-slide-wrapper .pagebuilder-slide-button {
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
    margin: 20px 0 0 0;
    max-width: 100%;
    text-align: inherit;
    transition: opacity 500ms ease;
    word-break: break-word;
}

.pagebuilder-slide-wrapper .pagebuilder-poster-content {
    width: 100%;
}

[data-appearance='collage-centered'] .pagebuilder-slide-wrapper .pagebuilder-overlay {
    margin-left: auto;
    margin-right: auto;
}

[data-appearance='collage-left'] .pagebuilder-slide-wrapper .pagebuilder-overlay {
    margin-right: auto;
}

[data-appearance='collage-right'] .pagebuilder-slide-wrapper .pagebuilder-overlay {
    margin-left: auto;
}

div[data-content-type='video'] .pagebuilder-video-inner {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

div[data-content-type='video'] .pagebuilder-video-container {
    border-radius: inherit;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.pagebuilder-full-width {
    float: left;
    width: 100%;
}

.pagebuilder-content-type {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.pagebuilder-accordion {
    margin: 0;
    padding: 0;
}

.pagebuilder-accordion>.item.title {
    box-sizing: border-box;
    float: none;
    width: 100%;
}

.pagebuilder-accordion>.item.title>.switch {
    display: block;
}

.pagebuilder-accordion>.item.content {
    box-sizing: border-box;
    display: block;
    float: none;
    margin: 0;
}

.pagebuilder-accordion>.item.content:before,
.pagebuilder-accordion>.item.content:after {
    content: '';
    display: table;
}

.pagebuilder-accordion>.item.content:after {
    clear: both;
}

.pagebuilder-accordion>.item.content.active {
    display: block;
}

.pagebuilder-accordion>.item.title {
    margin: 0 0 5px;
}

.pagebuilder-accordion>.item.title>.switch {
    background: #f0f0f0;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    height: 40px;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.8rem;
    color: #7d7d7d;
    text-decoration: none;
}

.pagebuilder-accordion>.item.title>.switch:visited {
    color: #7d7d7d;
    text-decoration: none;
}

.pagebuilder-accordion>.item.title>.switch:hover {
    color: #7d7d7d;
    text-decoration: none;
}

.pagebuilder-accordion>.item.title>.switch:active {
    color: #333333;
    text-decoration: none;
}

.pagebuilder-accordion>.item.title:not(.disabled)>.switch:focus,
.pagebuilder-accordion>.item.title:not(.disabled)>.switch:hover {
    background: #fcfcfc;
}

.pagebuilder-accordion>.item.title:not(.disabled)>.switch:active,
.pagebuilder-accordion>.item.title.active>.switch,
.pagebuilder-accordion>.item.title.active>.switch:focus,
.pagebuilder-accordion>.item.title.active>.switch:hover {
    background: #ffffff;
    color: #333333;
    text-decoration: none;
    padding-bottom: 5px;
}

.pagebuilder-accordion>.item.content {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    margin: 0 0 5px;
    padding: 20px 20px 20px 20px;
}

@media screen and (min-width: 769px),
print {
    .pagebuilder-mobile-only {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .pagebuilder-banner-wrapper {
        background-attachment: scroll !important;
    }

    .pagebuilder-banner-wrapper .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
        max-width: none;
    }

    .pagebuilder-column {
        background-attachment: scroll !important;
        flex-basis: 100%;
        max-width: 100%;
    }

    .pagebuilder-column-group {
        flex-wrap: wrap;
    }

    .pagebuilder-column-line {
        flex-wrap: wrap;
    }

    .pagebuilder-slide-wrapper .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
        max-width: none;
    }

    .pagebuilder-mobile-hidden {
        display: none !important;
    }
}